# Build directories
PendulumEmbeddedSTMProject/Debug/
PendulumEmbeddedSTMProject/Release/

# STM32CubeIDE local settings
PendulumEmbeddedSTMProject/.settings/

# Measurements analysis results files

ResultsAnalysis/Results
picocom.log
