# Build directories
PendulumEmbeddedSTMProject/Debug/
PendulumEmbeddedSTMProject/Release/
PendulumEmbeddedSTMProject/ReleaseEnergyBench/

# STM32CubeIDE local settings
PendulumEmbeddedSTMProject/.settings/

#TPG CodeGen files
TPG/

# Measurements analysis complation and results files

PastResults/
picocom.log
*.o
*.elf

# Julia dependencies and project files

*Project.toml
*Manifest.toml